<div id="intro" class="intro-wrapper">
  <div class="intro-container fadeIn">
    <h1>ARROW USES LARGE AGENCY <font color="#fb8b24">EXPERTISE</font> AND BESPOKE <font color="#fb8b24">TECHNOLOGICAL SOLUTIONS</font> TO HELP YOUR BUSINESS THRIVE.</h1>
  </div>
</div>
<div id='about' class="about-wrapper">
  <div class="row">
    <div class="about-header hidden-xs col-sm-6">
      <h1><font color="#fb8b24">WHAT</font> WE DO</h1>
    </div>
    <div class="about-container col-xs-12 col-sm-6">
      <div class="about-content">
        <div class='hidden-sm hidden-md hidden-lg'><h2><font color="#fb8b24">WHAT</font> WE DO</h2></div>

        <h3><font color="#dc0073">CONSULTANCY <i class="fas fa-brain"></i></font></h3>
        <p>Actionable consultation with steps to achieve your business goals</p>
        <h3><font color="#04a777">ACTIVATION <i class="fas fa-cogs"></i></font></h3>
        <p>Integrated multichannel account management built and activated with your business in mind</p>
        <h3><font color="#fb8b24">EDUCATION <i class="fas fa-chalkboard-teacher"></i></font></h3>
        <p>Provide support wherever necessary to help you feel confident about the roles of paid media for your business</p>
      </div>
    </div>
  </div>
</div>
