<div class="blog-wrapper">
  <div class="blog-container">
    <div class="row" style="margin:0;">
      <a href="/posts/are-facebook-and-instagram-listening-to-my-conversations/index.html" class="blog col-xs-12 col-sm-6">
        <div class="blog-card" id='blog-1'>
          <img src="/images/blogpost/are-facebook-and-instagram-listening-to-my-conversations.jpg" alt="are-facebook-and-instagram-listening-to-my-conversations">
          <div class="blog-filter"></div>
          <div class="blog-title">
            <h3>Are Facebook & Instagram listening to my conversations?</h3>
          </div>
        </div>
      </a>
      <a href="/posts/planning-for-search-outside-of-google/index.html" class="blog col-xs-12 col-sm-3">
        <div class="blog-card" id='blog-2'>
          <img src="/images/blogpost/planning-for-search-outside-of-google.jpg" alt="planning-for-search-outside-of-google">
          <div class="blog-filter"></div>
          <div class="blog-title">
            <h3>Planning for search outside of Google</h3>
          </div>
        </div>
      </a>
      <a href="#" class="blog col-xs-12 col-sm-3">
        <div class="blog-card" id='blog-3'>
          <img src="https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
          <div class="blog-filter"></div>
          <div class="blog-title">
            <h3>How to do Google Search Ads properly?</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
