<div class="blog-wrapper">
  <div class="blog-container">
    <div class="row" style="margin:0;">
      <div class="blog col-xs-12 col-sm-6">
        <div class="blog-card" id='blog-1'>
          <img src="https://images.unsplash.com/photo-1533227935323-22ca46e5e899?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
          <div class="blog-filter"></div>
          <div class="blog-title">
            <h3>Are Google, Facebook and Twitter listening to our conversations?</h3>
          </div>
        </div>
      </div>
      <div class="blog col-xs-12 col-sm-3">
        <div class="blog-card" id='blog-2'>
          <img src="https://images.unsplash.com/photo-1556742208-999815fca738?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=774&q=80" alt="">
          <div class="blog-filter"></div>
          <div class="blog-title">
            <h3>Facebook are now introducing Search Ads to all advertisers.</h3>
          </div>
        </div>
      </div>
      <div class="blog col-xs-12 col-sm-3">
        <div class="blog-card" id='blog-3'>
          <img src="https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
          <div class="blog-filter"></div>
          <div class="blog-title">
            <h3>How to do Google Search Ads properly?</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
