<div class="service-wrapper">
  <div class="row" style="margin:0;">
    <div class="service-container col-xs-12 col-sm-6">
      <div class='hidden-sm hidden-md hidden-lg'><h2><font color="#fb8b24">AGENCY</font> MARKETING SERVICES</h2></div>
      <div class="service-content">
        <a href='/services/index.html#paid-search-section' class="service-card">
          <div class="service-title" id='search-title'>
            <h3><font color="#dc0073"><i class="fas fa-search"></i></font> Paid Search</h3>
          </div>
        </a>
        <a href='/services/index.html#paid-social-section' class="service-card">
          <div class="service-title" id='social-title'>
            <h3><font color="#04a777"><i class="fas fa-share-alt-square"></i></font> Paid Social</h3>
          </div>
        </a>
        <a href='/services/index.html#programmatic-display-section' class="service-card">
          <div class="service-title" id='display-title'>
            <h3><font color="#fb8b24"><i class="fas fa-ad"></i></font> Programmatic Display</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="service-header hidden-xs col-sm-6">
      <h1><font color="#fb8b24">AGENCY</font> MARKETING SERVICES</h1>
    </div>
  </div>
</div>
