<div class="service-wrapper">
  <div class="row">
    <div class="service-container col-xs-12 col-sm-6">
      <div class='hidden-sm hidden-md hidden-lg'><h2><font color="#fb8b24">AGENCY</font> MARKETING SERVICES</h2></div>
      <div class="service-card">
        <%= image_tag "impos1.png", alt: "alttext" %>
        <div class="service-title search">
          <h3>Paid Search</h3>
        </div>
      </div>
      <div class="service-card">
        <%= image_tag "impos2.png", alt: "alttext" %>
        <div class="service-title social">
          <h3>Paid Social</h3>
        </div>
      </div>
      <div class="service-card">
        <%= image_tag "impos3.png", alt: "alttext" %>
        <div class="service-title display">
          <h3>Programmatic Display</h3>
        </div>
      </div>
      <div class="service-card">
        <%= image_tag "impos4.png", alt: "alttext" %>
        <div class="service-title seo">
          <h3>SEO</h3>
        </div>
      </div>
    </div>
    <div class="service-header hidden-xs col-sm-6">
      <h1><font color="#fb8b24">AGENCY</font> MARKETING SERVICES</h1>
    </div>
  </div>
</div>
