.about-page-wrapper {
  background-color: $background-gray;
  background-size: 40vw !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  padding-top: 80px;
  .about-page-container {
    .big-logo {
      height:400px;
      background-color: $background-gray;
      background-size: contain !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
    .placeholder {
      background-color: transparent !important;
    }
    .about-content {
      background-color: rgba(17,17,22,0.8);
      padding: 10vh 10vw;
      .about-section {
        padding: 5vh 0;
        img {
          width: 35vw;
        }
      }
    }
  }
}
