.intro-wrapper {
  padding: 15vh 20vw;
  background-color: $background-gray;
  color: #e2e2e2;
  text-align: center;
  border-bottom: 3px solid $green;
  h1 {
    font-size: 3rem;
  }
}

.about-wrapper {
  color: white;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: $background-gray;
  border-top: 6px solid $orange;
  .about-header {
    background: url(https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1224&q=80);
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: $background-gray;
    font-size: 25px;
    text-align: right;
    height: 500px;
    padding: 200px 100px 0 0;
  }
  .about-container {
    display:flex;
    height: 500px;
    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10vw;
    }
  }
}
