.capabilities-wrapper {
  background-color: $background-gray;
  color: $white;
  height: 60vh;
  .capabilities-title {
    height: 60vh;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      border-bottom: 6px solid $pink;
    }
  }
  .capabilities-category {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .capabilites-item {
      font-size: 24px;
      transition: 0.3s ease all;
      &:hover {
        border-bottom: 6px solid $orange;
      }
    }
    .selected {
      border-bottom: 6px solid $orange;
    }
  }
  .capabilities-content {
    height: 60vh;
    border-bottom: 6px solid $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      padding: 10px 10vw 0 0;
    }
  }
}
