.platform-wrapper {
  background-color: $background-gray;
  margin: 0;
  .platform-container {
    h1 {
      margin: 0
    }
    color: $white;
    text-align: center;
    .platform-list {
      display: flex;
      justify-content: space-around;
    }
  }
}
