.post-wrapper {
  margin: 0;
  .post-banner {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 70vh;
    position: relative;
    h1 {
      margin:0;
      padding:0;
      font-size: 5em;
      position: absolute;
      bottom: 0px;
      left: 3vw;
    }
    p {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 3vw;
      bottom: 0;
    }
  }
  .post-container {
    margin: 0 15vw;
    padding: 10vh 5vw;
    background: rgba(50,50,50,0.2);
    p {
      text-align: justify;
    }
  }
}
