.post-wrapper {
  margin: 0;
  .post-banner {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 70vh;
    position: relative;
    padding: 5vh 10vw 2vh 10vw;
    .post-banner-title {
      position: absolute;
      bottom: 0;
      width: 80vw;
      h1 {
        margin:0;
        padding:0;
        font-size: 4vw;
        text-transform: uppercase;
      }

      @media screen and (max-width: 800px) {
        h1 {
          font-size: 8vw;
        }
      }
      p {
        margin: 0;
        padding: 30px 0;
      }
    }
  }
  .post-container {
    margin: 0 15vw;
    @media screen and (max-width: 800px) {
      margin: 0;
    }
    padding: 10vh 5vw;
    background: rgba(50,50,50,0.2);
    h2 {
      color: $pink;
      text-transform: uppercase;
    }
    h3 {
      font-size: 22px;
      color: $green;
      text-transform: uppercase;
    }
    p {
      text-align: justify;
    }

    a {
        color: $orange;
    }

    .green-box {
      padding: 10px 20px;
      margin: 10px;
      background: rgba(4,167,119,0.2);
      border-radius: 8px;
    }
    .orange-box {
      padding: 10px 20px;
      margin: 10px;
      background: rgba(251,139,36,0.2);
      border-radius: 8px;
    }
  }
}
