.services-page-wrapper {
  background-color: $background-gray;
  background-size: 40vw !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  padding-top: 80px;
  .services-page-container {
    .big-logo {
      height:400px;
      background-color: $background-gray;
      background-size: contain !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
    .placeholder {
      background-color: transparent !important;
    }
    .services-content {
      background-color: rgba(17,17,22,0.8);
      padding: 10vh 10vw;
      .services-section {
        padding: 5vh 0;
        text-align: justify;
        .show-more-btn {
          height: 40px;
          width: 150px;
          border-radius: 20px;
          background-color: rgba(220,0,115,0.1);
          border: 3px rgba(220,0,115,0.5) solid;
          text-align: center;
          display: flex;
          justify-content: space-around;
          align-items: center;
          transition: 0.3s ease all;
          &:hover {
            background-color: rgba(220,0,115,0.4);
          }
        }
        .extra-content {
          padding-top: 30px;
        }
      }
    }
  }
}
