.services-page-wrapper {
  background-color: $background-gray;
  background-size: 40vw !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  padding-top: 80px;
  .services-page-container {
    .big-logo {
      height:400px;
      background-color: $background-gray;
      background-size: contain !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
    .placeholder {
      background-color: transparent !important;
    }
    .services-content {
      background-color: rgba(17,17,22,0.8);
      padding: 10vh 10vw;
      .services-section {
        padding: 5vh 0;
      }
      .contact-btn{
        padding: 70px 0;
        .main-large-btn {
          border-radius: 4px;
          background-color: $pink;
          color: #f7f7f7;
          text-decoration: none;
          font-weight: bolder;
          padding: 18px 50px;
          transition: 0.2s ease all;
          &:hover {
            background-color: #c90269;
          }
        }
      }
    }
  }
}
