.service-wrapper {
  background-color: $background-gray;
  margin:0;
  .service-header {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://images.unsplash.com/photo-1452451312475-5055e48f74cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
    background-size: 70vw !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    font-size: 25px;
    text-align: left;
    height: 500px;
    padding: 200px 0 0 100px;
    color: $white;
    margin:0;
  }
  .service-container {
    text-align: left;
    height: 500px;
    color: $white;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .service-card {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      #search-title {
        &:hover {
          h3 {
            color: $pink;
          }
        }
      }
      #social-title {
        &:hover {
          h3 {
            color: $green;
          }
        }
      }
      #display-title {
        &:hover {
          h3 {
            color: $orange;
          }
        }
      }

      .service-title {
        color: $white;
        padding: 10px 20px;
        font-size: 25px;
        transition: 0.3 ease all;
      }
    }
  }
}
