<div id="intro" class="intro-wrapper">
  <div class="intro-container fadeIn">
    <h1>ARROW USES LARGE AGENCY <font color="#fb8b24">EXPERTISE</font> AND BESPOKE <font color="#fb8b24">TECHNOLOGY</font> TO HELP YOUR BUSINESS THRIVE.</h1>
  </div>
</div>
<div id='about' class="about-wrapper">
  <div class="text-center mt-3"><h1>Capabilites</h1></div>
  <div class="about-container">
    <div class="row">
      <div class="about-logo hidden-xs col-sm-6">
        <%= image_tag "about-triangle.png", alt: "alttext" %>
      </div>
      <div class="about-content col-xs-12 col-sm-6">
        <h3><font color="#dc0073">Consultancy <i class="fas fa-brain"></i></font></h3>
        <p>Actionable consultation with steps to achieve your business goals</p>
        <h3><font color="#04a777">Activation <i class="fas fa-cogs"></i></font></h3>
        <p>Integrated multichannel account management built and activated with your business in mind</p>
        <h3><font color="#fb8b24">Education <i class="fas fa-chalkboard-teacher"></i></font></h3>
        <p>Provide support wherever necessary to help you feel confident about the roles of paid media for your business</p>
      </div>
    </div>
  </div>
</div>
