<div id="intro" class="intro-wrapper">
  <h1>CAN YOU GET THE SERVICE OF A LARGE AGENCY WITHOUT THE COST TO MATCH?</h1>
</div>
<div id='about' class="about-wrapper">
  <div class="about-container">
    <h1>About</h1>
    <p>The investment of time is generally what leads to the increase in fees. However, with our background in: both small and large agencies and tech innovation, we’re uniquely suited to address this issue.</p>
    <p>We’ve built technology do the repetitive stuff, while our team of professionals work to understand your business and provide the consultancy to help you get where you want to be.</p>
  </div>
</div>
