<div id="intro" class="intro-wrapper">
  <div class="intro-container fadeIn">
    <h1>ARROW USES LARGE AGENCY <font color="#fb8b24">EXPERTISE</font> AND BESPOKE <font color="#fb8b24">TECHNOLOGY</font> TO HELP YOUR BUSINESS THRIVE.</h1>
  </div>
</div>
<div id='about' class="about-wrapper">
  <div class="about-container">
    <h1>About</h1>
    <p>The investment of time is generally what leads to the increase in fees. However, with our background in: both small and large agencies and tech innovation, we’re uniquely suited to address this issue.</p>
    <p>We’ve built technology Sdo the repetitive stuff, while our team of professionals work to understand your business and provide the consultancy to help you get where you want to be.</p>
  </div>
</div>
