<div id='capabilites' class="capabilities-wrapper">
  <div class="row hidden-xs">
    <div class="capabilities-title col-sm-3"><h2>Capabilites</h2></div>
    <div class="capabilities-category col-sm-3">
      <div class='capabilites-item selected'>Paid Search</div>
      <div class='capabilites-item'>Paid Social</div>
      <div class='capabilites-item'>Programmatic Display</div>
      <div class='capabilites-item'>SEO</div>
    </div>
    <div class="capabilities-content col-sm-6">
      <p>Search is the purest reflection of intent that users show online and while Google is still the biggest player in the market, we know there’s opportunity in other areas as well. YouTube and Amazon search are now the second and third largest search engines.</p>
      <p>We use the learnings from every single one of our campaigns to create the highest performing set of optimisations. Pair this with an experienced set of eyes to review and add any manual optimisations and you get the highest value out of your search campaigns.</p></div>
  </div>
</div>
