<div class="platform-wrapper">
  <div class="platform-container">
    <h1>Partners we work with</h1>
    <div class="platform-list">
      <div class="platform-box">
        <h3>Paid Search</h3>
        <ul>
          <li>Google Ads</li>
          <li>Bing Ads</li>
        </ul>
      </div>
      <div class="platform-box">
        <h3>Paid Social</h3>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>YouTube</li>
          <li>LinkedIn</li>
          <li>Pinterest</li>
          <li>Snapchat</li>
          <li>Spotify</li>
          <li>Twitter</li>
        </ul>
      </div>
      <div class="platform-box">
        <h3>Programmatic Display</h3>
        <ul>
          <li>Criteo</li>
          <li>Display Video 360</li>
          <li>The Trade Desk</li>
          <li>Quantcast</li>
          <li>MIQ</li>
        </ul>
      </div>
    </div>
  </div>
</div>
