<div class="service-wrapper">
  <h1>Services</h1>
  <div class="service-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-card">
          <%= image_tag "impos1-c.png", alt: "alttext" %>
          <div class="service-title">
            <span>Paid Search</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-card">
          <%= image_tag "impos2-c.png", alt: "alttext" %>
          <div class="service-title">
            <span>Paid Social</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-card">
          <%= image_tag "impos3-c.png", alt: "alttext" %>
          <div class="service-title">
            <span>Programmatic Display</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-card">
          <%= image_tag "impos4-c.png", alt: "alttext" %>
          <div class="service-title">
            <span>SEO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
