<div id='services' class="services-wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1488903809927-48c9b4e43700?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');">
  <div class="services-container">
      <h1>Services</h1>
      <div class="paid-search">
        <h2>Paid Search</h2>
        <p>Search is the purest reflection of intent that users show online and while Google is still the biggest player in the market, we know there’s opportunity in other areas as well. YouTube and Amazon search are now the second and third largest search engines.</p>
        <p>We use the learnings from every single one of our campaigns to create the highest performing set of optimisations. Pair this with an experienced set of eyes to review and add any manual optimisations and you get the highest value out of your search campaigns.</p>
      </div>
      <div class="paid-social">
        <h2>Paid Social</h2>
        <p>There’s no getting away from social and while social is about the people, the numbers tell a very compelling story. Which is why we focus heavily on data and insights to help us find the right people </p>
        <p>Our extensive experience means we can provide suggestions on how to pair and align your creatives with the social formats to get the most out of your ads. Alongside that, we always suggest testing and learning to further improve!</p>
      </div>
      <div class="organic-search">
        <h2>Organic Search</h2>
        <p>You use search engines everyday, and so do your customers! They are the link between getting us connected to the information we need and getting your business to show means connecting your customers to your services or products.</p>
        <p>We will provide you with bespoke guidelines and best practices after we audit your pages to ensure your business shows more often organically through search.</p>
      </div>
  </div>
</div>
