<div class="service-wrapper">

  <div class="service-container">
    <h1>Marketing agency services</h1>
    <div class="service-card">
      <%= image_tag "impos1.png", alt: "alttext" %>
      <div class="service-title search">
        <span>Paid Search</span>
      </div>
    </div>
    <div class="service-card">
      <%= image_tag "impos2.png", alt: "alttext" %>
      <div class="service-title social">
        <span>Paid Social</span>
      </div>
    </div>
    <div class="service-card">
      <%= image_tag "impos3.png", alt: "alttext" %>
      <div class="service-title display">
        <span>Programmatic Display</span>
      </div>
    </div>
    <div class="service-card">
      <%= image_tag "impos4.png", alt: "alttext" %>
      <div class="service-title seo">
        <span>SEO</span>
      </div>
    </div>
  </div>
</div>
