---
title: ARROW | TARGET DRIVEN MEDIA
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1517799094725-e3453440724e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');">
  <div class="banner-content">
    <div class="tagline-box">
      <div class="tagline">
        <h1>TARGET.<br>DRIVEN.<br>MEDIA.</h1>
      </div>
    </div>
    <a href='#' class="main-large-btn">GET IN TOUCH</a>
  </div>
</div>

<%= partial 'about' %>
<%= partial 'services' %>
<%= partial 'clients' %>
<%= partial 'contact' %>
